.container {
  display: grid;
  grid-template-columns: 5% repeat(6, 1fr) 5%;
  padding: 30px 0;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
}

.navItem:hover {
  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
