/* @import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Quicksand:wght@400;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Lato:wght@400;700;900&family=Quicksand:wght@400;700&display=swap");

@font-face {
  font-family: "Droid Sans";
  src: url("../public/fonts/droid-sans/DroidSans.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Droid Sans";
  src: url("../public/fonts/droid-sans/DroidSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 6rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #22222a;
  z-index: -1;
  display: grid;
  grid-template-columns: 5% repeat(6, 1fr) 5%;
}

.overlay div {
  border-right: 1px solid hsla(0, 0%, 100%, 0.07);
}

.black-bg {
  background-color: #101015;
}

/* Fonts */

.droid-sans-normal {
  font-family: "Droid Sans", sans-serif;
  font-weight: normal;
}

.droid-sans-bold {
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
}

.inconsolata-bold {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
}

.inconsolata-normal {
  font-family: "Inconsolata", monospace;
  font-weight: normal;
}

/* Fonts */

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 5% repeat(12, 1fr) 5%;
  grid-template-rows: 1fr;
  height: 100%;
  flex: 1;
  position: relative;
}

.image-col {
  grid-column: 2/7;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 5px;
}

.content-col {
  grid-column: 8/14;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-col__title-container {
  margin: 1rem 0;
}

.content-col__title {
  color: #595971;
  font-size: 0.9rem;
  border-bottom: 1px solid rgba(246, 139, 157, 0.5);
  padding: 1rem 0;
  letter-spacing: 1px;
}

.content-col__subtitle {
  margin-top: 1.25rem;
  color: #bdbdd5;
  line-height: 1.25rem;
  font-size: 1rem;
}

.content-col__text {
  margin-top: 1rem;
  color: #bdbdd5;
  line-height: 1.375rem;
  font-size: 1rem;
}

.titleContainer {
  margin: 1rem 0;
}

.leftSidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.leftSidebar .icon {
  margin-bottom: 2rem;
}
